.heading{
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#center {
    margin: 10%  30%;
    font-family: tahoma;
    }
   .stopwatch {
        border:1px solid #000000;
        background-color: #00aeff;
        border-radius: 10px;
        text-align: center;
        width:656px;
        height: 230px;
        overflow: hidden;
    }
    .stopwatch span{
        display: block;
        font-size: 100px;
    }
    .stopwatch p{
        display: inline-block;
        font-size: 30px;
    }
    .stopwatch a{
      font-size:25px;
    }
    a:link,
    a:visited{
        color :#000;
        text-decoration: none;
        padding: 12px 14px;
        border: 1px solid #000;
        border-radius: 10px;
    }